@import "./variables.less";

#movens-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 270px;
  height: calc(100vh - 32px);
  z-index: 999999;
  background-color: @theme-primary-color;
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#movens-iframe {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.video--selected {
  outline: 9999px solid rgba(227, 80, 54, 0.5);
  outline-offset: -9999px;
}
