@import "./variables.less";

.moduda-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: @sidebar-width;
  box-sizing: border-box;
  height: 100vh;
  z-index: 999999;
  background-color: @theme-primary-color;
  padding: 16px 21px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease;
}

.moduda-sidebar--teasing__pseudo {
  display: block;
  font-size: 11px;
  color: @theme-white;
  position: absolute;
  writing-mode: tb-rl;
  left: 3px;
}

.moduda-sidebar--teasing {
  cursor: pointer;

  &:before {
    &:extend(.moduda-sidebar--teasing__pseudo);
    content: "Click to open";
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    &:extend(.moduda-sidebar--teasing__pseudo);
    content: "moduda";
    font-weight: 700;
    top: 50%;
    transform: translateY(100%) translateY(-2px);
  }

  &:hover {
    background-color: @theme-primary-dark-medium;
  }
}

#moduda-iframe {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.moduda-toast {
  padding: 15px 30px !important;
  font-size: 1.3rem !important;
  border-radius: 2px;
  background: rgb(129, 95, 224) !important;
  background: linear-gradient(
    174deg,
    rgba(129, 95, 224, 0.60307072829131656) 0%,
    rgba(227, 80, 54, 0.60587184873949583) 100%
  ) !important;
}

.moduda-toast-warning {
  &:extend(.moduda-toast);
  background: #c12503 !important;
}

.video--selected {
  outline: 9999px solid rgba(227, 80, 54, 0.5);
  outline-offset: -9999px;
}
