@theme-primary-color: #242c34;
@theme-dark-muted: #2c3e50;
@theme-primary-dark: darken(@theme-primary-color, 60%); //or: #181b21;
@theme-primary-dark-medium: darken(@theme-primary-color, 7%);
@theme-primary-dark-less: darken(@theme-primary-color, 3%);
@theme-primary-brighter: lighten(@theme-primary-color, 10%);
@theme-white: #c9c9c9;
@theme-grey: #8b8b8b;
@theme-dark-text: #687692;
@theme-menu-item-hover: darken(#2c3e50, 12%);
@theme-orange: #e35036;

@sidebar-width: 310px;

:root {
  --sidebar-width: @sidebar-width;
}
