@theme-primary-color: #242c34;
@theme-muted-dark-color: #2c3e50;
@theme-darker-primary-color: darken(@theme-primary-color, 20%); //or: #181b21;
@theme-white-color: #c9c9c9;
@theme-menu-item-hover: #2c3e50;
@theme-bright-color: #e35036;
